{{ define "header" }}
  {{ partial "menu" . }}
{{ end }}
{{ define "main" }}
  <article itemscope itemtype="http://schema.org/BlogPosting">
    {{ template "_internal/schema.html" . }}
    <header>
      <p style="float: right;"><a href="/"><img src="/head.png"></a></p><p style="float: left;"><h1>{{ .Title }}</h1></p>
      <br><a href="/">home</a> // <a href="/about">about</a><br>shitbloggin with reid scoggin<hr>
      <p class="muted">{{ partial "post/meta" . }}</p>
    </header>
    {{ if .Description }}
      <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
    {{ partial "toc-maybe" . }}
    <div itemprop="articleBody">
      {{ .Content }}
    </div>
    {{ if .Site.DisqusShortname }}
      <article>
        {{ template "_internal/disqus.html" . }}
      </article>
    {{ end }}
    <footer>
      <hr>
      {{ partial "post/byline" . }}
    </footer>
  </article>
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by" . }}
  {{ template "_internal/disqus.html" . }}
{{ end }}
