<script>
/**
  * Function that tracks a click on an outbound link in Analytics.
  * This function takes a valid URL string as an argument, and uses that URL string
  * as the event label. Setting the transport method to 'beacon' lets the hit be sent
  * using 'navigator.sendBeacon' in browser that support it.
  */
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     transport: 'beacon',
     hitCallback: function(){}
   })
}
/**
  * Function that tracks a click on a referral link in Analytics.
  * This function takes a valid URL string as an argument, and uses that URL string
  * as the event label. Setting the transport method to 'beacon' lets the hit be sent
  * using 'navigator.sendBeacon' in browser that support it.
  */
var trackReferralLink = function(url) {
   ga('send', 'event', 'referral', 'click', url, {
     transport: 'beacon',
     hitCallback: function(){}
   })
}
</script>

{{ if .Params.google_click_conversion }}
  <script type="text/javascript">
    {{ `/* <![CDATA[ */` | safeJS }}
    goog_snippet_vars = function() {
      var w = window;
      w.google_conversion_id = {{ .Params.google_click_conversion.id }};
      w.google_conversion_label = {{ .Params.google_click_conversion.label }};
      {{- with .Params.google_click_conversion.value }}
      w.google_conversion_value = {{ . }};
      {{ end -}}
      w.google_remarketing_only = false;
    }
    // DO NOT CHANGE THE CODE BELOW.
    goog_report_conversion = function(url) {
      goog_snippet_vars();
      window.google_conversion_format = "3";
      var opt = new Object();
      opt.onload_callback = function() {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    }
    var conv_handler = window['google_trackConversion'];
    if (typeof(conv_handler) == 'function') {
      conv_handler(opt);
    }
  }
  {{ `/* ]]> */` | safeJS }}
  </script>
  <script type="text/javascript"
    src="//www.googleadservices.com/pagead/conversion_async.js">
  </script>
{{ else }}
  <script>goog_report_conversion = function(){} // DO NOTHING </script>
{{ end }}
